*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.assettype.com/fortuneindia%2F2020-06%2Fef53f9be-f257-4aa3-9af5-6ca1a9f33a86%2Fclose_up_photography_of_leaves_with_droplets_807598.jpg?rect=0,607,4128,2322&w=1250&q=60);
    background-color: aquamarine;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

nav {
    margin: 0px;
    padding: 10px 50px 10px 30px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

nav a {
    margin: 10px;
    padding: 20px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.kocag{
    background-color: rgba(49, 59, 54, 0.5);
     border: 2px solid white;
    margin: auto;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div h1 {
    color: white;
    text-align: center;
}


section {
    height: 100vh;
    width: 100vw;
    background-color: #9bdeb8;
}

section aside {
    width: 100vw;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.content {
    height: 80%;
    width: 30%;
    background-color: transparent;
    text-align: left;
}

.content h1, h2, p {
    padding: 10px;
}

.content h1 {
    font-size: 100px;
    color:whitesmoke
}

.content h2 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}


section article {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#content2 {
    width: 100%;
    background-image: url(/asset/sideLeaf.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content2 h4 {
    font-family: monospace;
    display: flex;
    padding: 20px;
    margin: auto;
    width: 50%;
}

#content3 {
    width: 100%;
    background-image: url(/asset/tree-leaves-background-isolated-white-24989287.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

#content3 h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

#content3 button {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

footer {
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
}

footer div {
    width: 100%;
    height: 50%;
}
